
*.pcm

*.idx

*.hmap

*.timestamp

*.LinkFileList

*.hash-criteria

*.xcindexdb-shm

*.xcindexdb

*.xcindexdb-wal

*.strings-res

*.strings-cmp

*.strings-dir

*.strings-file

*.strings-moduleurl

*.strings-sym

*.target

DerivedData/moni_te/Index/PrecompiledHeaders/moni_te-Prefix-bgkriihssmeqvvcqeybjsuaylyue_ast/moni_te-Prefix.pch.pch

DerivedData/moni_te/Index/PrecompiledHeaders/moni_te-Prefix-bzkrznowgvlytpgsaqwrmymzpwlf_ast/moni_te-Prefix.pch.pch

DerivedData/moni_te/info.plist

DerivedData/moni_te/scm.plist

*.xcuserstate
